<div class="main-container">
    <h2>DASHBOARD</h2>
    <app-totaldetails></app-totaldetails>
    <h2>Monthly Details</h2>
    <div class="monthly-details">
        <div class="one">
            <app-line-chart></app-line-chart>
        </div>
        <div class="two">
            <app-bar-chart></app-bar-chart>
        </div>
    </div>
    <div class="pie-charts-main">
        <div class="pie-charts">
            <div class="charts" style="padding: 30px;">
                <app-statuspiechart></app-statuspiechart>
            </div>
            <div class="charts" style="padding: 30px;">
                <app-unitconsumed-chart></app-unitconsumed-chart>
            </div>
            <div class="charts" style="padding: 30px;">
                <app-charger-details></app-charger-details>
            </div>
        </div>
    </div>
</div>