<div class="counts">
    <div class="count">
        <div class="inner-one">
            <h6 style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <p>6</p>
                <p>Active</p>
            </h6>
            <h6 style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <p>1</p>
                <p>InActive</p>
            </h6>
        </div>
        <div class="inner-two">
            <img src="/assets/dashboard/clipboard.png" alt="" style="background-color: #328cd1; padding: 6px; border-radius: 6px;">
            <div class="" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">  
                <p>7</p>
                <h4>Total Owners</h4>
            </div>
        </div>
    </div>

    <div class="count">
        <div class="inner-one">
            <h6 style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <p>8</p>
                <p>Active</p>
            </h6>
            <h6 style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <p>2</p>
                <p>maintanance</p>
            </h6>
            <h6 style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <p>2</p>
                <p>InActive</p>
            </h6>
        </div>
        <div class="inner-two">
            <img src="/assets/dashboard/refresh.png" alt="" style="background-color: #d18c32; padding: 6px; border-radius: 6px;">
            <div class="" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">  
                <p>12</p>
                <h4>Total Stations</h4>
            </div>
        </div>
    </div>

    <div class="count">
        <div class="inner-one">
            <h6 style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <p>19</p>
                <p>Active</p>
            </h6>
            <h6 style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <p>3</p>
                <p>maintanance</p>
            </h6>
            <h6 style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <p>2</p>
                <p>InActive</p>
            </h6>
        </div>
        <div class="inner-two">
            <img src="/assets/dashboard/refresh.png" alt="" style="background-color: #8c32d1; padding: 6px; border-radius: 6px;">
            <div class="" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">  
                <p>24</p>
                <h4>Total Charges</h4>
            </div>
        </div>
    </div>
    
    <div class="count">
        <div class="inner-one">
            <h6 style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <p>8</p>
                <p>Active</p>
            </h6>
            <h6 style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <p>2</p>
                <p>InActive</p>
            </h6>
        </div>
        <div class="inner-two">
            <img src="/assets/dashboard/user-in-cloud.png" alt="" style="background-color: #2ab95a; padding: 6px; border-radius: 6px;">
            <div class="" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">  
                <p>10</p>
                <h4>Total Employees</h4>
            </div>
        </div>
    </div>
    <div class="count">
        <div class="inner-one">
            <h6 style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <p>12</p>
                <p>Active</p>
            </h6>
            <h6 style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <p>0</p>
                <p>InActive</p>
            </h6>
        </div>
        <div class="inner-two">
            <img src="/assets/images/complain.png" alt="" style="background-color: #d1d132; padding: 6px; border-radius: 6px;">
            <div class="" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">  
                <p>12</p>
                <h4>Total Costomers</h4>
            </div>
        </div>
    </div>
    <div class="count">
        <div class="inner-one">
            <h6 style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <p>9</p>
                <p>Active</p>
            </h6>
            <h6 style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <p>2</p>
                <p>InActive</p>
            </h6>
        </div>
        <div class="inner-two">
            <img src="/assets/dashboard/complain.png" alt="" style="background-color: #d13250; padding: 6px; border-radius: 6px;">
            <div class="" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">  
                <p>11</p>
                <h4>Total Complaints</h4>
            </div>
        </div>
    </div>
</div>